<?xml version="1.0" encoding="utf-8"?><plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>assets</key>
				<array>
					<dict>
						<key>kind</key>
						<string>software-package</string>
						<key>url</key>
						<string>https://rdm-ci-1258344701.cos.ap-guangzhou.myqcloud.com/2019-08-01/3731/753/Release_rdm_4.2.2.48_iphone_alpha.ipa?sign=q-sign-algorithm%3Dsha1%26q-ak%3DAKIDpRDixxNDVdV7UbP5SZVBblfJhqjRpSbW%26q-sign-time%3D1564665537%3B1564667337%26q-key-time%3D1564665537%3B1564667337%26q-header-list%3D%26q-url-param-list%3D%26q-signature%3D243acb3b95dbfb81107d95d886523de867427e6a</string>
					</dict>
					<dict>
						<key>kind</key>
						<string>display-image</string>
						<key>needs-shine</key>
						<true/>
						<key>url</key>
						<string>http://x.rdm.3g.qq.com/notfound.png</string>
					</dict>
				</array>
				<key>metadata</key>
				<dict>
					<key>bundle-identifier</key>
					<string>com.tencent.rdm</string>
					<key>bundle-version</key>
					<string>4.2.2.48</string>
					<key>kind</key>
					<string>software</string>
					<key>title</key>
					<string>RDM</string>
				</dict>
			</dict>
		</array>
	</dict>
</plist>